{% load widget_tweaks %}

<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Comment</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
    <form role="form" class="js-create-comment-post-form" method="post" action="{{ comment_api_url }}">
      {% csrf_token %}

      <div class="media card-t">

        <img class="border rounded-circle shadow-sm mr-3" src="{{ user.absolute_avatar_url }}" width="60px" height="60px">
        <div class="media-body media-body-text-left">
          <h5 class="card-t-user">{{ post.user.name|default_if_none:"" }}
            <span class="media-username-small">
                <a href="{% url 'core:user-profile' slug=user.username %}">@{{ user.username }}</a></span>
          </h5>
          <a href="{% url 'post:detail' pk=post.pk %}" class="card-t-timestamp" data-tdate="{{ post.timestamp }}">{{ post.timestamp|timesince }} ago</a>
          {% if post.parent %} (shared from <a href="{% url 'core:user-profile' slug=post.parent.user.username %}">@{{ post.parent.user.username }}</a>){% endif %}

          <p class="card-t-content">{{ post.content }}</p>

          {% if post.attached_image %}
            <img class="img-responsive mt-2 mb-4" src="{{ post.attached_image.url }}" style="width: 100%;">
          {% endif %}

        </div>
      </div>

      <div class="form-group">
        {# <textarea name="message" class="form-control form-control-alternative" id="message" rows="3"></textarea>#}
        {{ form.content|add_class:'form-control form-control-alternative'|attr:'placeholder:Your reply' }}
        {% if form.content.errors %}
          {% for error in form.content.errors %}
            <span class="invalid-feedback">{{ error }}</span>
          {% endfor %}
        {% endif %}

{#        <input type='hidden' value="true" name='reply'/>#}
{#        <input type='hidden' value='{{ comment.id }}' name='parent_id'/>#}
        {# {{ object }}#}
      </div>
      <div class="modal-footer modal-footer-reply">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Publish Comment</button>
      </div>
    </form>
  </div>
</div>