{% load widget_tweaks %}
<div class="card-body card-no-padding">
  <form role="form" class="card bg-secondary js-create-post-form" method="post" action="{{ create_api_url }}" enctype="multipart/form-data">
    <div class="card-body">
      {% csrf_token %}
      <div class="form-group">
        <label for="message">Post your thoughts!</label>
        {{ form.content|add_class:'form-control form-control-alternative'|attr:'placeholder:Type it out' }}
          {% if form.content.errors %}
            {% for error in form.content.errors %}
              <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
          {% endif %}

        {{ form.attached_image|add_class:'form-control form-control-alternative'|attr:'placeholder:Select image' }}
          {% if form.attached_image.errors %}
            {% for error in form.attached_image.errors %}
              <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
          {% endif %}
{#        {{ object }}#}
      </div>
      <div class="row">
        <div class="col-md-6 ml-auto">
          <button type="submit" id="js-create-post-form-submit" class="btn btn-primary pull-right">Post!</button>
        </div>
      </div>
    </div>
  </form>
</div>