{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dashboard | {{ block.super }} {% endblock %}

{% block customjs %}
  <script>
      $(function () {
          var currentUserID = {{ request.user.id }};

          function fetchFollowingTopUsers() {
              $.ajax({
                  url: Urls["api-acc:following"](currentUserID),
                  type: 'get',
                  dataType: 'json',
                  beforeSend: function () {

                      {% comment %}
                      $("#withdrawal-create").block({
                          message: '<i class="icon-spinner2 spinner"></i>',
                          overlayCSS: {
                              backgroundColor: '#fff',
                              opacity: 0.8,
                              cursor: 'wait'
                          },
                          css: {
                              border: 0,
                              padding: 0,
                              backgroundColor: 'none'
                          }
                      });
                      {% endcomment %}

                  },
                  success: function (data, textStatus, xhr) {
                      var container = $('#top-following-list-group');
                      if (data.length > 0) {
                          $.each(data, function (key, value) {
                              var generated = generateHTMLUsers(value);
                              container.append(generated);
                          });
                      } else {
                          container.append("No users yet.");
                      }
                  },
                  error: function (data, textStatus, xhr) {
                      debugger;
                  }
              });
          }

          function fetchFollowersTopUsers() {
              $.ajax({
                  url: Urls["api-acc:followers"](currentUserID),
                  type: 'get',
                  dataType: 'json',
                  beforeSend: function () {
                  },
                  success: function (data, textStatus, xhr) {
                      var container = $('#top-followers-list-group');
                      if (data.length > 0) {
                          $.each(data, function (key, value) {
                              var generated = generateHTMLUsers(value);
                              container.append(generated);
                          });
                      } else {
                          //container.append("No users yet.");
                      }
                  },
                  error: function (data, textStatus, xhr) {
                      debugger;
                  }
              });
          }

          function generateHTMLUsers(user) {
              data = '<li class="list-group-item list-group-item-user" data-uid="' + user.id + '"> ' +
                  '<div class="media card-t"><img class="border rounded-circle shadow-sm mr-3" src="' + user.absolute_avatar_url + '" width="38px" height="38px">' +
                  '<div class="media-body media-body-text-left user-list-item-username">' +
                  '<h5 class="card-t-user">' +
                  user.name + '<span class="media-username-small"><a href="' + user.url + '">@' + user.username + ' </a></span>' +
                  '</h5> ' +
                  '</div>' +
                  '</div>' +
                  '</li>';
              return data
          }

          fetchFollowingTopUsers();
          fetchFollowersTopUsers();

      });

  </script>

  {% include 'common/../tweet/shared/js_tweet_api_partial.html' with id=request.user.id query_type='feed' %}
  {% include 'common/../post/shared/js_post_api_partial.html' with id=request.user.id query_type='feed' %}

  <script>
      $(document).ready(function () {
          SETTINGS.tweetsAPI();
          SETTINGS.postsAPI();

          loadCreateTweetForm();
          loadCreatePostForm();
      });
  </script>



{% endblock %}

{% block body %}
  <section>
    <div class="container pt-5 mb-5 upper">
      <div class="row flex-row chat">

        {# Left - Top Followers       #}

        <div class="col-lg-4">
          <div class="card bg-secondary">
            <div class="card-header">
              <h5 class="top-followers-heading">Top Following</h5>
            </div>
            <div class="list-group list-group-chat list-group-flush">
              <ul class="list-group no-padding-list-group" id="top-following-list-group">
              </ul>
            </div>
          </div>

          <div class="card bg-secondary mt-4 mb-4">
            <div class="card-header">
              <h5 class="top-followers-heading">Top Followers</h5>
            </div>
            <div class="list-group list-group-chat list-group-flush">
              <ul class="list-group no-padding-list-group" id="top-followers-list-group">
              </ul>
            </div>
          </div>

        </div>

        {#   Right     #}

        <div class="col-lg-8">
          <div class="row">
            <div class="col-12 create-tweet-post-box" id="js-create-tweet-box">
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-12 create-post-box" id="js-create-post-box">
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header d-inline-block">
                  <h5 class="latest-tweets-heading">Latest Tweets</h5>
                </div>
                <div class="card-body card-no-padding">

                  <div class="user-tweets-box">
                    <ul class="list-group no-padding-list-group" id="tweet-list-group">
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col-12">
              <div class="card">
                <div class="card-header d-inline-block">
                  <h5 class="latest-posts-heading">Latest Posts</h5>
                </div>
                <div class="card-body card-no-padding">

                  <div class="user-posts-box">
                    <ul class="list-group no-padding-list-group" id="post-list-group">
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
