{% extends 'base.html' %}
{% load staticfiles %}


{% block title  %}{{ object.username }} | {{ block.super }}{% endblock %}

{% block customjs %}
  {% include 'common/../tweet/shared/js_tweet_api_partial.html' with id=object.id query_type='user-tweets' %}
  {% include 'common/../post/shared/js_post_api_partial.html' with id=object.id query_type='user-posts' %}

  <script>
   $(document).ready(function () {
      SETTINGS.tweetsAPI();
      SETTINGS.postsAPI();
   });
  </script>
{% endblock %}

{% block body %}

  <main class="profile-page">
    <section class="section-profile-cover-custom section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ object.absolute_avatar_url }}" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  {% if is_following is not None %}
                    {% if is_following %}
                      <a href="#" class="user-follow btn btn btn-info mr-4" data-uid="{{ object.id }}">Unfollow</a>
                    {% else %}
                      <a href="#" class="user-follow btn btn btn-info mr-4" data-uid="{{ object.id }}">Follow</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{ object.total_followers }}</span>
                    <span class="description">Followers</span>
                  </div>
                  <div>
                    <span class="heading">{{ object.total_following }}</span>
                    <span class="description">Following</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ object.name|default_if_none:"" }}{% comment %}<span class="font-weight-light">, 27</span>{% endcomment %}</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>@{{ object.username|default_if_none:"" }}</div>
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>{{ object.location|default_if_none:"" }}</div>
              <div><i class="ni education_hat mr-2"></i>{{ object.bio|default_if_none:"" }}</div>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-12">

                  <div class="nav-wrapper">
                    <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">

                      <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1"
                           aria-selected="true">
                          <i class="ni mr-2"></i>Tweets
                        </a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false">
                          <i class="ni mr-2"></i>Posts
                        </a>
                      </li>

                    </ul>
                  </div>

                  <div class="card {% comment %}shadow{% endcomment %}">
                    <div class="card-body">
                      <div class="tab-content" id="tweets-posts-tab-content">

                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

                          <div class="user-tweets-box">
                            <ul class="list-group no-padding-list-group" id="tweet-list-group">
                            </ul>
                          </div>

                        </div>

                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">


                          <div class="user-posts-box">
                            <ul class="list-group no-padding-list-group" id="post-list-group">
                            </ul>
                          </div>


                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock %}


