{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Tweet by {{ object.user.username }} | {{ block.super }} {% endblock %}

{% block customjs %}
  {% include 'common/../tweet/shared/js_tweet_api_partial.html' with id=object.id query_type='tweet-with-children' %}

  <script>
      $(document).ready(function () {
          SETTINGS.tweetsAPI();
      });
  </script>
{% endblock %}

{% block body %}

  <main class="profile-page">
    <section class="section-profile-cover-custom section-shaped my-0">
      <!-- Circles background -->
      <div class="shape shape-style-1 shape-primary alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ object.user.absolute_avatar_url }}" class="rounded-circle">
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  {% if is_following is not None %}
                    {% if is_following %}
                      <a href="#" class="user-follow btn btn btn-info mr-4" data-uid="{{ object.user.id }}">Unfollow</a>
                    {% else %}
                      <a href="#" class="user-follow btn btn btn-info mr-4" data-uid="{{ object.user.id }}">Follow</a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">{{ object.user.total_followers }}</span>
                    <span class="description">Followers</span>
                  </div>
                  <div>
                    <span class="heading">{{ object.user.total_following }}</span>
                    <span class="description">Following</span>
                  </div>

                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <h3>{{ object.user.name|default_if_none:"" }}{% comment %}<span class="font-weight-light">, 27</span>{% endcomment %}</h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i><a href="{% url 'core:user-profile' slug=object.user.username %}">@{{ object.user.username|default_if_none:"" }}</a>
              </div>
            </div>

            <p class="lead">{{ object.content }}</p>
            <span class="badge badge-pill badge-lg badge-primary text-uppercase  pull-right">At {{ object.timestamp }}</span>

            {% if object.parent %}

              <a href="{{ object.parent.get_absolute_url }}" class="badge badge-pill badge-lg badge-info text-uppercase">

              {% if tweet.reply %}
                reply to @{{ object.parent.user.username }}
              {% else %}
                Retweeted from @{{ object.parent.user.username }}
              {% endif %}

              </a>

            {% endif %}


          </div>

          <div class="py-5 text-center">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="user-tweets-box">
                      <ul class="list-group no-padding-list-group" id="tweet-list-group">
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>

{% endblock %}