{#{% load crispy_forms_tags %}#}
{% load widget_tweaks %}

<form class="form {% if form_class %} id='{{ form_class }}'{% endif %} " method="POST" action="{% if action_url %}{{ action_url }}{% endif %}">

  {% csrf_token %}
  {#    {{ form|crispy }}#}

  <div class="row">
    <div class="col">
      <div class="form-group">
{#        <div class="col-lg-9">#}
          {{ form.content|add_class:'form-control'|attr:'placeholder:Share your thoughts' }}
          {% if form.content.errors %}
            {% for error in form.content.errors %}
              <span class="invalid-feedback">{{ error }}</span>
            {% endfor %}
          {% endif %}
{#        </div>#}

      </div>
    </div>
  </div>

  <input class='btn btn-primary pull-right' type="submit" value="{{ btn_title }}"/>
</form>
