{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}About{% endblock %}

{% block body %}
  <section class="section">
    <div class="page-header">
      <div class="container">
        <div class="row align-items-center text-left">
          <div class="col-lg-5 col-12">
            <h1 class="display-3">Hello there,<span class="text-primary">  Please wait.</span></h1>
            <p class="lead pb-4">We are cooking something.</p>
            <div class="row row-input">
{#              <div class="col-sm-8 col-12">#}
{#                <input type="email" class="form-control" name="email" id="signupSrEmail" placeholder="Your email" aria-label="Your email">#}
{#              </div>#}
{#              <div class="col-sm-4 col-12 pl-lg-0">#}
{#                <button type="submit" class="btn btn-primary btn-block">More</button>#}
{#              </div>#}
            </div>
          </div>
          <div class="col-lg-7 col-12 pl-0">
            <img class="ml-lg-5" src="{% static 'assets/img/ill/bg6-2.svg' %}" width="90%">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}