{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block body %}

  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col">
            <div class="row">
              <div class="col-lg-6 m-auto">
                <h1 class="display-3  text-white">A new new way to <span>connect with people</span></h1>
                <p class="lead  text-white">Hi, I can't think of a proper tagline as of yet.</p>
                {% comment %}
                <div class="btn-wrapper">
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                    <span class="btn-inner--text">Components</span>
                  </a>
                  <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                    <span class="btn-inner--text">Download HTML</span>
                  </a>
                </div>
                {% endcomment %}
              </div>
              <div class="col-lg-6">

                <div class="row justify-content-center">
                  <div class="card shadow border-0 card-size-20  bg-secondary">
                    <div class="card-body">
                      <form id="user-login-form-homepage" class="{% comment %}{% if form.errors %}was-validated{% endif %}{% endcomment %}" action="{% url "acc:login" %}" method="post" novalidate>
                        {% csrf_token %}

                        <div class="form-group mb-3">
                          <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>


                            {#                            <input class="form-control" placeholder="Email" type="email">#}
                            {{ form.username|add_class:'form-control'|attr:'placeholder:Email' }}


                          </div>
                        </div>
                        <div class="form-group mb-2">
                          <div class="input-group input-group-alternative">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                            </div>


                            {#                            <input class="form-control" placeholder="Password" type="password">#}
                            {{ form.password|add_class:'form-control'|attr:'placeholder:Password' }}


                          </div>
                        </div>

                        {#                         <a href="#" class="text-light"><small>Forgot password?</small></a>#}

                        {#                        <div class="custom-control custom-control-alternative custom-checkbox">#}
                        {#                          <input class="custom-control-input" id="customCheckLogin" type="checkbox">#}
                        {#                          <label class="custom-control-label" for="customCheckLogin">#}
                        {#                            <span>Remember me</span>#}
                        {#                          </label>#}
                        {#                        </div>#}
                        <div class="d-flex justify-content-between">
                          <div>
                            <a class="text-light" href="{% url 'acc:register' %}"><small>Sign-up</small></a>
                          </div>
                          <div class="form-group" id="sign-in-button">
                            <button class="btn btn-primary" type="submit">Sign-in</button>
                          </div>
                        </div>
{#                        <div class="text-center mt-3">#}
{#                          <button type="submit" class="btn btn-primary">Sign in</button>#}
{#                        </div>#}
{#                        <div class="text-right">#}
{#                          <a href="{% url 'acc:register' %}" class="text-light"><small>Sign up?</small></a>#}
{#                        </div>#}

                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        {#        <!-- SVG separator -->#}
        {#        <div class="separator separator-bottom separator-skew">#}
        {#          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">#}
        {#            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>#}
        {#          </svg>#}
        {#        </div>#}
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>

  {#  <main class="page lanidng-page">#}
  {#    <section class="portfolio-block block-intro">#}
  {#      <div class="container">#}
  {#        <div class="about-me">#}
  {#          <div class="row">#}
  {#            <div class="col" id="home-left-text">#}
  {#              <p>Welcome to <strong>SocialApp. </strong>A sleek social networking website.</p>#}
  {#            </div>#}
  {#            <div class="col">#}
  {##}
  {#              <form id="user-login-form-homepage" class="{% comment %}{% if form.errors %}was-validated{% endif %}{% endcomment %}" action="{% url "acc:login" %}" method="post" novalidate>#}
  {#                {% csrf_token %}#}
  {##}
  {#                <div class="form-group">#}
  {#                  {{ form.username|add_class:'form-control'|attr:'placeholder:Your Email' }}#}
  {#                </div>#}
  {##}
  {#                <div class="form-group">#}
  {#                  {{ form.password|add_class:'form-control'|attr:'placeholder:Your Password' }}#}
  {#                </div>#}
  {##}
  {#                <div class="form-group" id="sign-in-button">#}
  {#                  <button class="btn btn-outline-primary" type="submit">Sign-in</button>#}
  {#                </div>#}
  {#                <div>#}
  {#                  <a href="{% url 'acc:register' %}">Register</a>#}
  {#                </div>#}
  {#              </form>#}
  {##}
  {#            </div>#}
  {#          </div>#}
  {#        </div>#}
  {#      </div>#}
  {#    </section>#}
  {#  </main>#}
{% endblock %}