{% load staticfiles %}
<!-- Core -->
<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/headroom/headroom.min.js' %}"></script>

<!-- Argon JS -->
<script src="{% static 'assets/js/argon.min.js' %}"></script>

<!-- Cropper JS -->
{#<script src="https://unpkg.com/cropperjs/dist/cropper.js" crossorigin="anonymous"></script>#}
{#<script src="{% static 'assets/vendor/cropper/jquery-cropper.common.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/cropper/jquery-cropper.min.js' %}"></script>#}
{#<script src="{% static 'assets/vendor/cropper-2/cropper.min.js' %}"></script>#}
